.detail{
    margin-top: 10px;
    padding: 10px;
}
.titel{
    margin-bottom: 8px;
}
.ifrm{
    width:900px;
    height:500px;
}
.icon i{
    margin: 0px 25px;
    cursor: pointer;
    font-weight: bold;
}
@media (max-width:1100px) {
    .ifrm{
        width: 900px;
        transition: all 1s ease-in-out;
    }
    
}
@media (max-width:900px) {
    .ifrm{
        width: 750px;
    }
    
}
@media (max-width:750px) {
    .ifrm{
        width: 550px;
    }
    
}
@media (max-width:550px) {
    .ifrm{
        width: 420px;
    }
    
}